<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 

    <!-- Setting up log path and log file name -->
    <property name="LOG_FILE_NAME" value="hrm-user" />
    <property name="APP_LOG_ROOT" value="D:\projects\logs\hrms-log" />
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-60.60logger{60} | %m%n" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-60.60logger{60} | %m%n" />

    <!-- Setting up logging pattern for console logging -->
    <appender name="ConsoleOutput" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <!-- Setting the filename and logging pattern for log file -->
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG_ROOT}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- each archived file's size will be max 5MB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
            <!-- total size of all archive files, if total size > 100GB, it will delete old archived file -->
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <!-- Logging at DEBUG level -->
    <!--<logger name="com.whizzy.hrm" level="DEBUG" additivity="false">
        <appender-ref ref="AppLogFile" />
    </logger>-->

    <!--<logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="AppLogFile" />
    </logger>-->

    <root level="INFO">
        <appender-ref ref="LogFile" />
        <appender-ref ref="ConsoleOutput" />
    </root>

</configuration>
